body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  background-image: url(../images/backgroundimg.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 700px;
  margin: 0 auto;
  pedding-top
}

p {
  font-size: 21px;
  line-height: 26px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

h1 {

  font-size: 45px;
  line-height: 43px;
  text-decoration: uppercase;

}
